In [36]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation
import json
import tensorflow.keras.preprocessing.text as tfkpt
from tensorflow.keras.preprocessing.text import Tokenizer

In [37]:
print("Number of GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Number of GPUs Available:  0

In [23]:
hotels_df = pd.read_csv('./hotelreviews.csv')

In [24]:
hotels_df.head(10)

                  address categories  ... reviews.username reviews.userProvince
0  Riviera San Nicol 11/a     Hotels  ...      Russ (kent)                  NaN
1  Riviera San Nicol 11/a     Hotels  ...       A Traveler                  NaN
2  Riviera San Nicol 11/a     Hotels  ...             Maud                  NaN
3  Riviera San Nicol 11/a     Hotels  ...            Julie                  NaN
4  Riviera San Nicol 11/a     Hotels  ...         sungchul                  NaN
5  Riviera San Nicol 11/a     Hotels  ...       A Traveler                  NaN
6  Riviera San Nicol 11/a     Hotels  ...       A Traveler                  NaN
7  Riviera San Nicol 11/a     Hotels  ...       A Traveler                  NaN
8  Riviera San Nicol 11/a     Hotels  ...     Doppeldecker                  NaN
9  Riviera San Nicol 11/a     Hotels  ...       A Traveler                  NaN

[10 rows x 19 columns]

In [5]:
def sentiment(rating):
    if rating >= 4:
        return int(2)
    elif rating > 2:
        return int(1)
    elif rating <= 2:
        return int(0)

In [6]:
hotels_df['sentiment'] = hotels_df['reviews.rating'].apply(sentiment)

In [7]:
def floats(score):
    return int(score)

In [8]:
hotels_df['review'] = hotels_df['reviews.rating'].dropna()
hotels_df['review'].sample(10)

11561    5.0
14742    3.0
15634    4.0
12092    5.0
22764    5.0
11469    4.0
6943     5.0
5070     4.0
31264    4.0
9823     9.6
Name: review, dtype: float64

In [9]:
first = hotels_df['reviews.rating'].dropna()
second = first.apply(floats)
second

0        4
1        5
2        5
3        5
4        5
        ..
35907    5
35908    5
35909    5
35910    0
35911    0
Name: reviews.rating, Length: 35050, dtype: int64

In [10]:
hotels_df['reviews'] = second.apply(floats)

In [11]:
hotel_reviews = hotels_df[['reviews.text', 'reviews', 'sentiment']]
hotel_reviews

                                            reviews.text  reviews  sentiment
0      Pleasant 10 min walk along the sea front to th...      4.0        2.0
1      Really lovely hotel. Stayed on the very top fl...      5.0        2.0
2      Ett mycket bra hotell. Det som drog ner betyge...      5.0        2.0
3      We stayed here for four nights in October. The...      5.0        2.0
4      We stayed here for four nights in October. The...      5.0        2.0
...                                                  ...      ...        ...
35907  Best of the Best!!!! My family and I stayed in...      5.0        2.0
35908  Amazing Vacation in Beautiful Cabin We stayed ...      5.0        2.0
35909  My husband and I stayed at Tree Tops which is ...      5.0        2.0
35910  to share your opinion of this businesswith YP ...      0.0        0.0
35911         xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx      0.0        0.0

[35912 rows x 3 columns]

In [12]:
hotel_reviews.to_csv('hotel_reviews.csv')
hotel_df = pd.read_csv('hotel_reviews.csv')
hotel_df

       Unnamed: 0  ... sentiment
0               0  ...       2.0
1               1  ...       2.0
2               2  ...       2.0
3               3  ...       2.0
4               4  ...       2.0
...           ...  ...       ...
35907       35907  ...       2.0
35908       35908  ...       2.0
35909       35909  ...       2.0
35910       35910  ...       0.0
35911       35911  ...       0.0

[35912 rows x 4 columns]

In [13]:
hotel_df = hotel_df.dropna()
hotel_df

       Unnamed: 0  ... sentiment
0               0  ...       2.0
1               1  ...       2.0
2               2  ...       2.0
3               3  ...       2.0
4               4  ...       2.0
...           ...  ...       ...
35907       35907  ...       2.0
35908       35908  ...       2.0
35909       35909  ...       2.0
35910       35910  ...       0.0
35911       35911  ...       0.0

[35028 rows x 4 columns]

In [14]:
hotel_df['reviews'].apply(floats)

0        4
1        5
2        5
3        5
4        5
        ..
35907    5
35908    5
35909    5
35910    0
35911    0
Name: reviews, Length: 35028, dtype: int64

In [15]:
test_text = hotel_df['reviews.text']
test_review = hotel_df['reviews']

In [16]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(test_text)

In [17]:
test_text = tokenizer.texts_to_sequences(test_text)

In [18]:
test_text = tokenizer.sequences_to_matrix(test_text)
test_text

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 1., 1., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [44]:
model = Sequential()

In [54]:
model.add(Dense(677, activation = 'sigmoid'))
model.add(Dropout(0.1))
model.add(Dense(577, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(281, activation='elu'))
model.add(Dropout(0.4))
model.add(Dense(167, activation='tanh'))
model.add(Dropout(0.5))

In [55]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [56]:
test_review = keras.utils.to_categorical(test_review, 4)

In [43]:
model.fit(test_text, test_review, batch_size=37, epochs=10, verbose=1, validation_split=0.2, shuffle=True)

ValueError: Failed to find data adapter that can handle input: <class 'numpy.ndarray'>, <class 'pandas.core.series.Series'>